{% extends "GoMobilityAdminBundle:Common:layout.html.twig" %}

{% block body %}
    <div class="content">
        <h1>Commentaires en attente de validation</h1>

        {% for experienceName, experience in experiences %}
            <div style="margin-top:50px; margin-left:100px;">
                <h2>{{experienceName}}</h2>
                <table>
                    <thead>
                        <tr class="tr_org">
                            <th>Nom</th>
                            <th>Date</th>
                            <th>Commentaire</th>
                            <th>Validé</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for commentaire in experience %}
                                <tr>
                                    <td>{{commentaire.username}}</td>
                                    <td>{{commentaire.date|date('d/m/Y')}}</td>
                                    <td>{{commentaire.comment}}</td>
                                    <td>
                                        <a href="{{path('comment_publish', {'id':commentaire.id})}}">autorisé</a>
                                    </td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}