<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        
        <title>{% block title %}Go Mobility{% endblock %}</title>
        <meta name="description" content="{% block meta %}{% endblock %}">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,100,500,600,700,800,900|Montserrat:400,700|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
        {% block stylesheets %}
            {% stylesheets output="css/styleadmin.css" filter="less, cssrewrite"
                '%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less'
                'bundles/gomobilityadmin/less/base.less'
            %}

                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% javascripts
            'bundles/gomobilityadmin/js/script.js'
            output="js/compiled/script.js" %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>

        <header>
            <div class="logo">
                <a href="{{path('go_mobility_site_homepage')}}">
                    <img src="{{asset('bundles/gomobilitysite/images/logo-go-mobility.svg')}}">
                </a>
            </div>
            <div class="opt">
                <a href="{{path('fos_user_security_logout')}}">
                <img src="{{asset('bundles/gomobilityadmin/images/opt.png')}}">
                </a>
            </div>
        </header>
        <nav class="nav-left">
            <ul>
                <li class="dashboard"><a href="{{path('go_mobility_admin_homepage')}}" title="Dashboard"> <img src="{{asset('bundles/gomobilityadmin/images/icon-dashbord.svg')}}">Dashboard</a></li>
                <li class="acteurs"><a href="{{path('go_mobility_admin_acteurs')}}" title="Eco-Acteurs"><img src="{{asset('bundles/gomobilityadmin/images/icon-acteur.svg')}}">Eco-Acteurs</a></li>
                <li class="commentaires"><a href="{{path('go_mobility_admin_comments')}}" title="Commentaires"><img src="{{asset('bundles/gomobilityadmin/images/icon-commentaire.svg')}}">Commentaires</a></li>
                <li class="public"><a href="{{path('go_mobility_admin_public')}}" title="Public"><img src="{{asset('bundles/gomobilityadmin/images/icon-public.svg')}}">Public</a></li>
            </ul>
        </nav>


        {% block body %}{% endblock %}
        {% block javascript_footer %}{% endblock %}

        <script>
            $(function(){

                var currentPath = '{{path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}}';
                
                if(currentPath.indexOf("public") > -1){
                    $('.nav-left .public').addClass('active');
                } else if(currentPath.indexOf("commentaires") > -1){
                    $('.nav-left .commentaires').addClass('active');
                } else if(currentPath.indexOf("eco-acteurs") > -1){
                    $('.nav-left .acteurs').addClass('active');
                } else {
                    $('.nav-left .dashboard').addClass('active');
                }
            })
        </script>
    </body>
</html>