{% extends "::layout.html.twig" %}

{% block body %}
    <div class="content_creat wrapper">
    	<div>
	        <h1>Ajouter une experience</h1>
	        <ul class="step_control">
	        	<li>1</li>
	        	<li>2</li>
	        	<li>3</li>
	        	<li class="bg_step_control"><div></div></li>
	        </ul>
            <div id="errors"></div>
	        <div class="content_content_creat ">
	            <form class="form-horizontal" role="form" action="{{ path('go_mobility_site_experiences_create')}}" method="post" {{ form_enctype(form) }} novalidate>
	            	<ul>
	            		<li class="step step1">
	            			<div class="content_step">		       
                                <div>
						            <p>{{ form_label(form.email) }}</p>
						            {{ form_widget(form.email)}}
						            {{ form_errors(form.email) }}
						        </div>
						        <div>
									<p>{{ form_label(form.transport) }}</p>
					            	{{ form_widget(form.transport)}}
					            	{{ form_errors(form.transport) }}				      
					        	</div>				  
				        		<a href="#" class="step_ca step_suiv">Deuxiemes etape</a>
							</div>
	            		</li>
	            		<li class="step step2">	
	            			<div class="content_step">		       	       
		            			<div>
						            <p>{{ form_label(form.start) }}</p>
						            {{ form_widget(form.start)}}
						            {{ form_errors(form.start) }}
						        </div>
						        <div>
									<p>{{ form_label(form.arrival) }}</p>
					            	{{ form_widget(form.arrival)}}
                                    {{ form_errors(form.arrival) }}				      
					        	</div>
                                <a href="#" class="step_ca step_prec">Deuxiéme etape</a>
					        	<a href="#" class="step_ca step_suiv">Troisieme etape</a>
				        	</div>
	            		</li>
	            		<li class="step step3">	
	            			<div class="content_step">		       	       
		            			<div>
						            <p>{{ form_label(form.description) }}</p>
						            {{ form_widget(form.description)}}
						            {{ form_errors(form.description) }}
						        </div>
                                <div>
                                    <p>{{ form_label(form.game) }}</p>
                                    {{ form_widget(form.game)}}
                                </div>
                                {{ form_widget(form.envoyer)}}
				        	</div>
	            		</li>
	            	</ul>
                    {{ form_rest(form) }}
	            </form>
	        </div>
        </div>
    </div>
	<div class="bg_paysage"></div>
{% endblock %}

{% block javascript %}
    
    {{parent()}}

    <script>
        $(function(){

            validate = new expform();
            validate.init();

        });
    </script>

{% endblock %}