{% extends "::layout.html.twig" %}

{% block body %}
    <div class="experience_content wrapper {{experience.transport}}">
        <div id="map">

        </div>
        <div class="content ">
            <div class="description">
                <h2>{{experience.start}} à {{experience.arrival}} </h2>
                <h3>Experience {{experience.transport}}</h3>
                <p class="score"><span>{{experience.ges}}</span> points</p>
                <p>{{experience.description}}</p>
                <div class="auteur">
                    <p>Expérience ajoutée par : <b>{{experience.email}}</b></p>
                </div>
            </div>

            <div class="commentaire">
                <h4>Les commentaire de la communautee</h4>
                <div class="commentaire_wrapper">
                    {{ render(controller('GoMobilityCommentBundle:Main:showComments', {'articleid':experience.id})) }}            
                </div>
                <div class="form">
                    <h5> Laissez vous aussi un commentaire sur ce parcours </h5>
                    <p>Votre commentaire sera publie une fois valide par l'equipe de Go mobility</p>
                    {{ render(controller('GoMobilityCommentBundle:Main:Showform', {'articleid':experience.id})) }}
                </div>
            </div>
        </div>
    </div>
    <div class="bg_paysage"></div>
{% endblock %}

{% block javascript %}
    
    {{parent()}}

    <script>
    $(function(){

        gmaptrace = new gmapGestion();
        gmaptrace.init();
        gmaptrace.trace('{{experience.start}}', '{{experience.arrival}}', '{{experience.transport}}')

    })
    </script>

{% endblock %}