{% extends "::layout.html.twig" %}

{% block body %}
    
    <div style="height:200px;"></div>
    <h1 style="text-align:center; margin-bottom:70px;">{{experience.start}} à {{experience.arrival}} ({{experience.transport}})</h1>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p>{{experience.description}}</p>
            <p><b>Ecrite par : {{experience.email}}</b></p>
        </div>
    </div>

    <div style="width:300px; margin-left:200px; margin-top:40px;">
        {{ render(controller('GoMobilityCommentBundle:Main:Showform', {'articleid':experience.id})) }}
        {{ render(controller('GoMobilityCommentBundle:Main:showComments', {'articleid':experience.id})) }}
    </div>

{% endblock %}