{% extends "::layout.html.twig" %}

{% block body %}

    <div class="content_experiences wrapper">
        <div class="org-list">
            <ul>
                <li class="all select"><a href="#" id="all">All</a></li>
                <li class="green"><a href="#" id="touristique">TOURISME</a></li>
                <li class="blue"><a href="#" id="sportif">SPORT</a></li>
                <li class="red"><a href="#" id="work">GO TO WORK</a></li>
                <li class="bt_add_exp"><a href="{{path('go_mobility_site_experiences_register')}}"><span>+</span> Ajouter un experience</a></li>
            </ul>
            <div class="bg_org">
                <div></div>
            </div>
       </div>
        <div class="content_list">

            {% for flashMessage in app.session.flashbag.get('experience-notice') %}
                <p class="flash-messages">{{ flashMessage }}</p>
            {% endfor %}

            <ul>
                {% for experience in experiences %}
                    <li class="{{experience.transport}} traject_entity">
                        <a href="{{path('go_mobility_site_experience', {'id':experience.id})}}">
                            <img src="{{asset('bundles/gomobilitysite/images/usr_1.jpg')}}">                                
                            <ul>
                                <li>{{ experience.start|length > 15 ? experience.start|slice(0, 15) ~ '...' : experience.start  }}</li>
                                <li class="trajet">
                                    <p>{{experience.distance|number_format(2)|round}} km</p>
                                    {% set width = experience.distance|number_format(2)|round / 470* 100 %}
                                    <div class="bg_list" style="width:{{width}}%;">
                                        <div class="start"></div>
                                        <div class="arrival"></div>
                                    </div>
                                </li>
                                <li>{{ experience.arrival|length > 15 ? experience.arrival|slice(0, 15) ~ '...' : experience.arrival  }}</li>
                            </ul>
                            <p><span>{{experience.ges}}</span> points</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            {#{% include 'GoMobilitySiteBundle:Common:pagination.html.twig' %}#}
        </div>
    </div>
    <div class="bg_paysage"></div>
    <div class="mot_clefs">
        <div class="mc_content">
            <h4>Mots clefs</h4>
            <input type="text" placeholder="search">
            <div class="mc_select">
                <h5>Mots clefs selectionnes :</h5>
                <ul>
                    <li><a href="#">Chèze</a></li>
                    <li><a href="#">Villages</a></li>
                </ul>
            </div>
            <ul>
                <li><a href="#">Baumes</a></li>
                <li><a href="#">Eglises</a></li>
                <li><a href="#">148 Km</a></li>
                <li><a href="#">Boissières</a></li>
                <li><a href="#">Chèze</a></li>
                <li><a href="#">Villages</a></li>
                <li><a href="#">Craux</a></li>
                <li><a href="#">Site archeologique</a></li>
                <li><a href="#">Soubrey</a></li>
                <li><a href="#">Baumes</a></li>
                <li><a href="#">Eglises</a></li>
                <li><a href="#">148 Km</a></li>
                <li><a href="#">Boissières</a></li>
                <li><a href="#">Chèze</a></li>
                <li><a href="#">Villages</a></li>
                <li><a href="#">Craux</a></li>
                <li><a href="#">Eglises</a></li>
                <li><a href="#">148 Km</a></li>
                <li><a href="#">Boissières</a></li>
                <li><a href="#">Chèze</a></li>
                <li><a href="#">Villages</a></li>
                <li><a href="#">Craux</a></li>
                <li><a href="#">Site archeologique</a></li>
                <li><a href="#">Soubrey</a></li>
            </ul>
        </div>
    </div>

{% endblock %}