<div class="last-article">
	<h3>Derniers articles</h3>
	<section>
		{% for article in articles %}
			<article>
				<img src="{{asset('bundles/gomobilitysite/images/blog/' ~ article.path)}}" class="last-article-img">
				<div class="content-article">
					<h4>{{article.title}}</h4>
					<p>{{ article.content|length > 100 ? article.content|slice(0, 100) ~ '...' : article.content  }}</p>
					<p><i>{{article.date|date('D M Y')}}</i></p>
				</div>
			</article>
		{% endfor %}
	</section>
	<a href="{{path('go_mobility_site_actualites')}}"class="bt_more">+</a>
</div>
