{% extends "::layout.html.twig" %}

{% block body %}
	<div class="article_bg"></div>
	<div class="content_blog content_blog_article wrapper">
		<div class="content_content_article">
            {% set previous = article.id - 1 %}
            {% set next     = article.id + 1 %}
			<a href="{{path('go_mobility_site_actualite', {'id':previous})}}"><div class="precedent arrow"></div></a>
			<a href="{{path('go_mobility_site_actualite', {'id':next})}}"><div class="suivant arrow"></div></a>
    		<h1>{{article.title}}</h1>
    		{% if article.intro is defined %}<p><span>{{article.intro}}</span></p>{% endif %}
    		<p>{{article.content}}</p>
	    	<div class="auteur">
	    		<img src="{{asset('bundles/gomobilitysite/images/usr_1.jpg')}}">
	    		<p>{{article.author}}</p>
	    		<p><i>Redacteur chez <a href="#">GoMobility</a></i></p>
	    	</div>
    	</div>
    </div>
    <div class="bg_paysage"></div>

{% endblock %}

{% block javascript %}
    
    <script>
        $(function(){

            var path = "{{asset('bundles/gomobilitysite/images/blog/' ~ article.path)}}";
            $('.article_bg').css('background-image',"url("+path+")");

        })
    </script>

{% endblock %}