{% extends "::layout.html.twig" %}

{% block body %}
    <div class="content_blog">
        <div class="content_content_blog">
            <ul>
                {% for article in articles %}
                    <li>
                        {% if article.path != null %}<img src="{{asset('bundles/gomobilitysite/images/blog/' ~ article.path)}}">{% endif %}
                        <div class="title">
                            <h4>{{article.title}}</h4>
                            <div class="fb">
                                <img src="{{asset('bundles/gomobilitysite/images/lik_bt.jpg')}}">   
                            </div>
                        </div>
                        {% if article.intro is defined %}
                            <p>{{ article.intro|length > 200 ? article.intro|slice(0, 200) ~ '...' : article.intro  }}</p>
                        {% else %}
                            <p>{{ article.content|length > 200 ? article.content|slice(0, 200) ~ '...' : article.content  }}</p>
                        {% endif %}
                        <a href="{{path('go_mobility_site_actualite', {'id':article.id})}}">Voir plus</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% include 'GoMobilitySiteBundle:Common:pagination.html.twig' %}
    </div>
    <div class="bg_paysage"></div>
{% endblock %}