{% extends "GoMobilityAdminBundle:Common:layout.html.twig" %}

{% block body %}
   	<div class="content">
   		<div class="content_content nb_elmt_three bst_eco_acteur">
			<h4>Eco-acteurs</h4>
			<table cellpadding=3 cellspacing=1>
				<thead>
					<tr class="tr_org">
						<th>Profil</th>
						<th>Email</th>
						<th>Parcours</th>
					</tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                <img src="{{asset('bundles/gomobilityadmin/images/default_user.png')}}">
                            </td>
                            <td><p>{{user.info.email}}</p></td>
                            <td><p class="parcours_bt">{{user.experiences|length}} parcours</p></td>       
                        </tr>
                        <tr>
                            <td colspan=3 class="exp_content">
                                <table>
                                    <tbody>
                                        {% for experience in user.experiences %}
                                            <tr>
                                                <td><a href="{{path('go_mobility_admin_acteur', {'id':experience.id})}}">{{experience.start}} / {{experience.arrival}}</a></td>
                                                <td>{% if experience.publish == 0 %}Non Publié{% else %}Publié{% endif %}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
   </div>
{% endblock %}