{% extends "GoMobilityAdminBundle:Common:layout.html.twig" %}

{% block body %}
   	<div class="content" style="padding-top:100px; padding-left:320px;">
   		<h1>Acteurs</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Type</th>
                    <th>Départ</th>
                    <th>Arrivé</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for experience in experiences %}
                    <tr>
                        <td>{{experience.email}}</td>
                        <td>{{experience.transport}}</td>
                        <td>{{experience.start}}</td>
                        <td>{{experience.arrival}}</td>
                        <td>{% if experience.publish == true %}Publié{% else %}Non Publié{% endif %}</td>
                        <td><a href="{{path('go_mobility_admin_acteur', {'id':experience.id})}}" class="btn btn-success btn-xs">Modifier</a></td>
                    </tr>
                {% endfor %}
            </tbody>    
        </table>
   </div>
{% endblock %}