{% extends "GoMobilityAdminBundle:Common:layout.html.twig" %}

{% block body %}
   	<div class="content">
   		<div class="content_content nb_elmt_three bst_eco_acteur">
			<h4>Eco-acteurs</h4>
			<table>
				<thead>
					<tr class="tr_org">
						<th>Nom</th>
						<th>Email</th>
						<th>Parcours</th>
					</tr>
                </thead>
                <tbody>
                    {% for user in users %}
        					<tr>
        						<td>
        							<img src="{{asset('bundles/gomobilityadmin/images/default_user.png')}}">
        							<a href="{{path('go_mobility_admin_acteur', {'id':user.info.id})}}">{{user.info.email}}</a>
        						</td>
        						<td>
        							<p>{{user.info.email}}</p>
        						</td>
        						<td>
        							<a href="#">13 parcours</a>
        						</td>
                                <td class="toggle">
                                    {% for experience in user.experiences %}
                                        <p>{{experience.description}}</p>
                                    {% endfor %}
                                </td>
        					</tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
   </div>
{% endblock %}